body {
    background-color: #3b3e3e;
}
header {
    background-color: #990606;
    width: auto;
    height: 100px;
    align-content: center;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    background: #3b3e3e;
    color: #ffffff;
    font-weight: bolder;
    font-family:monospace;
    padding: 12px 24px;
    border-radius: 10px;
    margin: 0px 70px 0px 0px;
    text-decoration: none;
    transition: background 0.3s;

}
.menu_btn {
    background-image: url("")
}

footer {
    position: absolute;
    background-color: #990606;
    width: auto;
    height: 100px;
    align-content: center;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-around;
    border-radius: 10px;

}
.midle-ball {
    position: absolute;
    background-color: black;
    width: 100px;
    height: 100px;
    left: calc(10%);
    top: calc(50%);


}
